.intro__inner {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 콘텐츠 간 간격 조정 */
    height: 100%;
  }
  
  .intro_content1, .intro_content2 {
    flex: 1; /* 두 콘텐츠가 같은 비율로 공간을 차지하게 함 */
    margin: 10px; /* 콘텐츠 간의 간격을 위한 마진 */
  }
  

  .intro_content1{
    color: aliceblue;
  }
  

  .abstract {
    text-align: left; /* 텍스트 정렬 */
    
    
  }

.abstract_name{
    color: aliceblue;
    font-size: 40px;
  }
  
  .line {
    height: 2px;
    background-color: rgb(250, 249, 249); /* 선의 색상 */
    margin: 10px 0; /* 선의 위아래 간격 */
  }
  
  .text_base {
    font-size: 25px; /* 텍스트 크기 */
  }
  
  .security {
    max-width: 100%; /* 이미지의 최대 너비를 부모 요소에 맞춤 */
    height: auto; /* 이미지 비율 유지 */
  }
  