/* about */
.about {
    font-family: Arial, sans-serif;
    color: #4b5563; /* text-gray-600 */
    margin: 0;
    padding: 0;

  
  .about_container {
    padding: 5rem 1.25rem;
    margin: 0 auto;
    max-width: 1200px;

      .mini {
        display: flex;
        flex-direction: row;
  
        .content_1 {
          width: 33.333333%;
          text-align: center;
          padding-right: 2rem; /* sm:pr-8 */
          padding-top: 2rem; /* sm:py-8 */
          padding-bottom: 2rem; /* sm:py-8 */
          
          .photo .profile {
            border-radius: 99px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            }
          }
  
          .abstract {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
  
            .abstract_name {
              font-weight: 500;
              margin-top: 1rem; /* mt-4 */
              color: #1f2937; /* text-gray-900 */
              font-size: 2rem; /* text-lg */
            }
  
            .line {
              background-color: #434446;
              width: 9rem; /* w-12 */
              height: 0.25rem; /* h-1 */
              border-radius: 0.25rem;
              margin-top: 0.5rem; /* mt-2 */
              margin-bottom: 1rem; /* mb-4 */
            }
  
            .text-base {
              line-height: 1.625;
              text-align: left; /* 왼쪽 정렬 */
            }
          }
        
  
        .content_2 {
          width: 66.666667%;
          padding-left: 2rem; /* sm:pl-8 */
          padding-top: 2rem; /* sm:py-8 */
          padding-bottom: 2rem; /* sm:py-8 */
          border-left-width: 1px; /* border-l */
          border-color: #e5e7eb; /* border-gray-200 */
          margin-top: 1rem; /* mt-4 */
          padding-top: 1rem; /* pt-4 */
          text-align: left; /* sm:text-left */
          border-top-width: 0; /* sm:border-t-0 */
  
          .introduce {
            font-size: 30px;
            margin-bottom: 1rem; /* mb-4 */
            padding-top: 10%;
          }
        }
      }
  }
}