/* about */
.about {
    font-family: Arial, sans-serif;
    color: #4b5563; /* text-gray-600 */
    margin: 0;
    padding: 0;

  
  .about_container {
    padding: 5rem 1.25rem;
    margin: 0 auto;
    max-width: 1200px;

      .mini {
        display: flex;
        flex-direction: row;
  
        .content_1 {
          width: 33.333333%;
          text-align: center;
          padding-right: 2rem; /* sm:pr-8 */
          padding-top: 2rem; /* sm:py-8 */
          padding-bottom: 2rem; /* sm:py-8 */
          
          .photo .profile {
            border-radius: 99px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 70%;
            }
          }
  
          .abstract {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
  
            .abstract_name {
              font-weight: 500;
              margin-top: 1rem; /* mt-4 */
              color: #1f2937; /* text-gray-900 */
              font-size: 2rem; /* text-lg */
            }
  
            .line {
              background-color: #434446;
              width: 9rem; /* w-12 */
              height: 0.25rem; /* h-1 */
              border-radius: 0.25rem;
              margin-top: 0.5rem; /* mt-2 */
              margin-bottom: 1rem; /* mb-4 */
            }
  
            .text-base {
              display: flex;
              line-height: 1.625;
              text-align: left; /* 왼쪽 정렬 */
              font-size: 20px;
            }
            
            @media (max-width: 800px) {
              .abstract{
                margin-left: 100px;
              }

              .text-base {
                line-height: 1.625;
                text-align: left; /* 왼쪽 정렬 */
                font-size: 13px;
                margin-left: 10px;
              }
            }
          }
          
        
  
        .content_2 {
          width: 66%;
          padding-left: 2rem; /* sm:pl-8 */
          padding-top: 2rem; /* sm:py-8 */
          padding-bottom: 2rem; /* sm:py-8 */
          border-left-width: 3px; /* border-l */
          border-color: #b0b2b6; /* border-gray-200 */
          margin-top: 1rem; /* mt-4 */
          text-align: left; /* sm:text-left */
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          .introduce_front{
            font-size: 40px;
            margin-bottom: 50px;
          }
  
          .introduce {
            font-size: 21px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          @media (max-width: 800px) {
            .introduce_front{
              font-size: 17px;
              margin-bottom: 30px;
            }

            .introduce {
              font-size: 13px;
            }
          }

        }
      }
  }
}

.font_calendar{
  height: 18px;
  width: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}