/* contact */
.contact_container {
    width: 90%;
    max-width: 800px; /* 최대 너비 추가 */
    margin: 5rem auto;
    border: 2px solid #a39d9d;
    border-radius: 8px;
    overflow: hidden;
    background-color: #d1cccc; /* 배경색 추가 */
  }
  
  .contactform {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 5%; /* 좌우 패딩 추가 */
  }
  
  .contactform .head {
    font-size: 2rem; /* 더 작은 사이즈로 수정 */
    margin-bottom: 1rem; /* 아래 여백 추가 */
    color: #4a5568;
  }
  
  .contactform .input_container {
    width: 100%; /* 너비를 100%로 설정 */
    margin-top: 1rem; /* 위쪽 여백 축소 */
  }
  
  .contactform label {
    display: block;
    margin-bottom: 0.5rem;
    color: #4a5568;
    font-size: 1rem; /* 더 작은 사이즈로 수정 */
  }
  
  .contactform input[type="text"],
  .contactform input[type="email"],
  .contactform textarea {
    width: 100%;
    padding: 0.75rem; /* 패딩 증가 */
    border: 1px solid #cbd5e0;
    border-radius: 0.25rem;
    transition: border-color 0.2s ease-in-out;
  }
  
  .contactform input[type="text"]:focus,
  .contactform input[type="email"]:focus,
  .contactform textarea:focus {
    outline: none;
    border-color: #4c51bf;
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  }
  
  .contactform textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #cbd5e0;
    border-radius: 0.25rem;
    resize: vertical;
    transition: border-color 0.2s ease-in-out;
  }
  
  .contactform button[type="submit"] {
    background-color: #4c51bf;
    color: white;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-top: 1rem; /* 위쪽 여백 추가 */
  }
  
  .contactform button[type="submit"]:hover {
    background-color: #6b7280;
  }
  