/* styles.css */

/* 공통 스타일 */
.header {
  position: fixed;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(12, 12, 12);
  width: 100%;
  font-family: "Gasoek One", sans-serif;
  color: #ebedf1;
  height: 80px;
  padding: 0 20px;
}

.header .left {
  display: flex;
  align-items: center;
  margin-left: 1.25rem;
}

.header .left .name {
  font-size: 2.25rem; /* 36px */
}

.header .menus {
  display: flex;
  align-items: center;
  font-size: 1.5625rem; /* 25px */
}

.header .menus .li {
  margin-right: 1.25rem; /* 20px */
  cursor: pointer;
  transition: color 0.3s ease;
}

.header .menus .li:hover {
  color: #5b5d63; /* Tailwind CSS의 text-gray-900 색상 코드 */
}

/* 햄버거 메뉴 스타일 */
.header__nav__mobile {
  display: none; /* 기본적으로 숨김 */
  margin-right: 1.25rem; /* 20px */
}

.header__nav__mobile span {
  display: block;
  width: 45px;
  height: 3px;
  background-color: #ebedf1;
  margin: 4px 0; /* 위아래 간격 추가 */
  transition: 0.4s;
  cursor: pointer;
  padding: 0 10px; /* 좌우 여백 추가 */
}


/* 모바일 스타일 */
@media (max-width: 800px) {
  .header .menus {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 80px;
      right: 0;
      background-color: rgb(12, 12, 12);
      width: 100%;
      text-align: center;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition: max-height 0.3s ease, opacity 0.3s ease;
      padding-bottom: 15px;
  }

  .header .menus.active {
      display: flex;
      flex-direction: column;
      max-height: 500px;
      opacity: 1;
  }

  .header__nav__mobile {
      display: flex; /* 화면이 작아질 때만 표시 */
      flex-direction: column;
      cursor: pointer;
  }
}
