.image {
        width: 300px; /* 이미지의 너비를 300px로 설정합니다. */
        height: 200px; /* 이미지의 높이를 200px로 설정합니다. */    
}

.container {
    display: flex;
}


.left, .image, .name{
    width: 100px; /* 각 박스의 너비를 조절합니다. */
    height: 100px; /* 각 박스의 높이를 조절합니다. */
    margin-right: 10px; /* 각 박스 사이의 간격을 조절합니다. */
    background-color: lightgray; /* 박스의 배경색을 설정합니다. */
}
